{% extends 'base.html' %}

{% block title %} A Compliment {% endblock %}

{% block content %}

Hi {{ person }}! I think you're {{ compliment }}!

    <form action="/game">
        <label>
          Do you want to play a game?
          <label>
            yes
            <input type="radio" name="game" value="yes">
          </label>
          <label>
            no
            <input type="radio" name="game" value="no">
          </label>
        </label>
        <input type="submit">
    </form>

{% endblock %}